body, html {
    height: 100%;
    margin: 0 ;
    font-size: 30px;
    color: black;
}
.links{
    color: white; 
    margin: 20px;
}
.link-rubbon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}